@import "tailwindcss";

@theme {
  --color-primary-dark: #081722;
  --color-primary: #0d465b;
  --color-primary-light: #028dc1;
  --color-accent: #cd2f2f;
  --color-text-main: #555555;
  --color-title-bg: #f5f5f5;
  --color-footer-text: #a8a8a8;
}

body {
  background-color: var(--color-primary-dark);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
